body,
html {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
}
body {
  overflow: hidden !important;
  overflow-y: auto !important;
}

*:focus {
  outline: none !important;
}

* {
  scrollbar-width: none;
  scrollbar-color: #cccccc transparent;
}
