$material-light: (
  app-bar: #f8f8f8,
  background: #ffffff,
  navigation-drawer: #f8f8f8
);

$material-dark: (
  app-bar: #333333,
  background: #1e1e1e,
  navigation-drawer: #333333
);

@import '~vuetify/src/styles/styles.sass';
