@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

// Globals
$body-font-family: 'Marmelad', sans-serif;

$material-light: (
  app-bar: #ffffff,
  background: #f8f8f8,
  navigation-drawer: #ffffff,
  bottom-navigation: #ffffff,
  cards: #ffffff,
  toolbar: #ffffff
);

$material-dark: (
  app-bar: #1a202c,
  background: #171e31,
  navigation-drawer: #1a202c,
  bottom-navigation: #1a202c,
  cards: #1a202c,
  toolbar: #1a202c
);

@import '~vuetify/src/styles/styles.sass';
